.about-list {
  margin: -30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.about-item {
  @media screen and (min-width: $mobile) {
    max-width: 450px;
    margin: 30px;
  }

  @media screen and (min-width: $tablet) {
    width: 354px;
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.about-title {
  margin-bottom: 10px;

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.about-text {
  line-height: 1.71;

  color: $secondaryTextColor;
}
