.caption {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;

  background-color: $captionColor;
  background-image: linear-gradient(
      to top,
      $gradientCaptionColor,
      $gradientCaptionColor
    ),
    url('');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.caption-hero {
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
  @media screen and (min-width: $desktop) {
    max-width: 696px;
  }
}

.caption-text {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;

  color: $pageColor;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
