.caption {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;

  max-width: 480px;
  height: auto;

  background-color: $captionColor;
  background-image: $Gradient, url('../img/mobile/hero/header-img@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .caption {
      background-image: $Gradient, url('../img/mobile/hero/header-img@2x.jpg');
    }
  }
}

@media screen and (min-width: $mobile) {
  .caption {
    max-width: $tablet;
    background-image: $Gradient, url('../img/tablet/hero/header-img@1x.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .caption {
      background-image: $Gradient, url('../img/tablet/hero/header-img@2x.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    .caption {
      max-width: 1600px;
      height: 600px;
      background-image: $Gradient, url('../img/desktop/hero/hero-img@1x.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .caption {
        background-image: $Gradient, url('../img/desktop/hero/hero-img@2x.jpg');
      }
    }
  }
}

.caption-hero {
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
  @media screen and (min-width: $desktop) {
    max-width: 696px;
  }
}

.caption-text {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;

  color: $pageColor;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
