.clients-logo {
  margin: -15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.clients-company {
  margin: 15px;

  width: 210px;
  height: 90px;
  @media screen and (min-width: $mobile) {
    width: 210px;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;

    width: 170px;
  }
}
