.page-header {
  position: relative;
  min-height: 60px;

  display: flex;
  align-items: center;

  background-color: $pageColor;
  border-bottom: 1px solid $bottomBorderColor;
}

.header {
  .logo {
    padding: 16px 0;
  }
}
