.job ul {
  display: flex;
  justify-content: space-between;
}

.item-job {
  position: relative;

  display: flex;
  width: 370px;
}

.job-info {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  text-align: center;
  text-transform: uppercase;

  color: $pageColor;
  background-color: $decorJobColor;
}
