.product-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.menu-button:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.menu-button:not(:last-child) {
  margin-right: 8px;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
