.product-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .menu-button:not(:last-child) {
    margin-right: 8px;
  }

  .menu-button:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
