// captionButton

.caption .button {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowColor;
  cursor: pointer;
}
// captionButton
// footerButton
.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $pageColor;
  fill: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowColor;
  cursor: pointer;
}

// footerButton
// portfolioButtons

.product .button {
  display: block;
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  color: $mainTextColor;
  background-color: $pageSecondaryColor;
  border-color: $pageSecondaryColor;
  cursor: pointer;
  transition: color $smoothTransition, background-color $smoothTransition,
    border-color $smoothTransition, box-shadow $smoothTransition;

  &:hover,
  &:focus {
    color: $pageColor;
    background-color: $accentColor;
    border-color: $accentColor;
    box-shadow: $shadowButtonMenu;
  }
}

// portfolioButtons
