// cardsTeam
.team-window {
  width: 270px;

  background-color: $pageColor;
  box-shadow: $shadowModal;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-photo {
  display: flex;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: $secondaryTextColor;
}

.icons-list {
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

// cardsTeam
// cardsPortfolio

.product .link {
  text-decoration: none;
  color: $mainTextColor;
}

.product-window {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
  width: 370px;

  background-color: $pageColor;
  outline-color: $borderColor;
  outline-width: 1px;
  outline-style: solid;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.product-window .link {
  transition: box-shadow $smoothTransition;

  &:hover,
  &:focus {
    box-shadow: $shadowCard;
  }

  &:hover .product-info,
  &:focus .product-info {
    transform: translateY(-100%);
  }
}

.product-box {
  position: relative;

  width: 370px;
  height: 294px;
  overflow: hidden;
}

.product-info {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;

  color: $pageColor;
  background-color: $decorCardColor;
  transition: transform $smoothTransition;
  transform: translateY(0);
}

.product-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.product-item {
  padding: 20px 24px;
  max-width: 370px;
}

.product-text {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-work {
  font-size: 16px;
  line-height: 1.87;

  color: $secondaryTextColor;
}
// cardsPortfolio
