.modal-terms {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  line-height: 1.71;
  color: $secondaryTextColor;

  a {
    padding-left: 4px;

    color: $accentColor;
  }

  &::before {
    content: '';
    display: inline-block;

    width: 16px;
    height: 15px;
    margin-left: 12px;
    margin-right: 7px;

    border: 2px solid;
    border-radius: 2px;
    border-color: $mainTextColor;
    background-color: $pageColor;
    transition: background-color $smoothTransition,
      border-color $smoothTransition;
  }
}

.standart-checkbox {
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .modal-terms::before {
    background-color: $accentColor;
    border-color: $accentColor;
    background-image: url('../img/icon-check.svg');
    color: $pageColor;
    background-origin: border-box;
  }

  &:focus + .modal-terms::before {
    outline: 1px solid $accentSecondaryColor;
  }
}
