// contactsHeader
.contacts-in-menu {
  margin-bottom: 64px;
  .item:not(:last-child) {
    margin-bottom: 32px;
  }

  .number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $accentColor;
  }

  .post {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $secondaryTextColor;
  }
}

.social-network {
  display: flex;
  flex-wrap: wrap;

  .social-link:not(:last-child) {
    border-right: 1px solid $borderModalInput;
    margin-right: 10px;
    padding-right: 10px;
  }

  .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accentColor;
  }
}

.contacts-mobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.contacts {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-header {
    .item + .item {
      margin-top: 10px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;
      margin-left: auto;

      .item + .item {
        margin-top: 0;
        margin-left: 50px;
      }
    }
  }
}

.contacts-header .link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $secondaryTextColor;
  transition: color $smoothTransition;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}
// contactsHeader
// contactsFooter
.map {
  margin-bottom: 8px;

  .link {
    font-style: normal;
    line-height: 1.71;

    color: $pageColor;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .link {
    line-height: 1.71;
    color: $contactsTextColor;
    transition: color $smoothTransition;

    &:hover,
    &:focus {
      color: $accentColor;
    }

    li:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .item:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}
