// iconHeader
.nav-icon {
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;

  fill: currentColor;
}

.mail-icon svg {
  width: 16px;
  height: 12px;
}

.tel-icon svg {
  width: 10px;
  height: 16px;
}

.mail-icon,
.tel-icon {
  padding-right: 10px;
}
// iconHeader
// iconAbout
.about-icons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: $pageSecondaryColor;
  border-radius: 4px;
}
.about-img {
  width: 70px;
  height: 70px;
}
// iconAbout
// iconSocial

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  background-color: $pageColor;
  fill: $iconColor;
  border-radius: 50%;
  transition: fill $smoothTransition, background-color $smoothTransition;

  &:hover,
  &:focus {
    background-color: $accentColor;
    fill: $pageColor;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
// iconSocial
// iconClients
.clients-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  background-color: $pageColor;
  fill: $iconColor;
  border: 1px solid $iconColor;
  border-radius: 4px;

  transition: fill $smoothTransition, border $smoothTransition;

  &:hover,
  &:focus {
    border-color: $accentColor;
    fill: $accentColor;
  }
}

// iconClients
// iconFooter

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;

  background-color: $iconFooterColor;
  fill: $pageColor;
  border-radius: 50%;
  transition: background-color $smoothTransition;

  &:hover,
  &:focus {
    background-color: $accentColor;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.btn-icon-footer {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
// iconFooter
