.logo {
  font-family: $logoFont;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  color: $accentColor;

  .dark {
    color: $accentSecondaryColor;
  }
  .light {
    color: $pageColor;
  }
}
