.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: $backdropColor;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: $pageColor;
  box-shadow: $shadowModal;
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.icon-off {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid $borderIconOffColor;
  background-color: $pageColor;
  fill: $accentSecondaryColor;
  transition: fill $smoothTransition;

  &:hover,
  &:focus {
    fill: $accentColor;
  }

  svg {
    width: 11px;
    height: 11px;
  }
}

.btn-in-modal {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $pageColor;
  background-color: $accentColor;
  border-color: $accentColor;
  box-shadow: $shadowColor;
  cursor: pointer;
}
