body {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  background-color: $pageColor;
  color: $mainTextColor;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0;

  font-family: inherit;
  text-decoration: none;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}
